input {
    &.search {
        background: url(../../img/search.svg) 16px center no-repeat $color-white;
        padding-left: 42px;

        &, &::placeholder {
            color: $color-text_gray;
        }
    }
}

.form-control {
    border: none;
    height: 35px;
    width: 342px;
    @include font-size(14);
}
